Giao diện/GiaHanHopDong_DonHangSanPham.json
[
    {
        "id": "db97c8c50c4a095f",
        "type": "tab",
        "label": "Gia han Hop Dong",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d8fd425860c673a",
        "type": "tab",
        "label": "Chon San Pham",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "47914be4d6856a80",
        "type": "subflow",
        "name": "DROPDOWN: Chi Nhanh",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 660,
                "y": 80,
                "wires": [
                    {
                        "id": "a2b60862629327c9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "b447a82434ab402b",
        "type": "subflow",
        "name": "Push to flow.Log",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 100,
                "wires": [
                    {
                        "id": "5dd56b5395420220"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f53a30c032c6761f",
        "type": "subflow",
        "name": "Get flow.Log",
        "info": "",
        "category": "",
        "in": [],
        "out": [
            {
                "x": 460,
                "y": 100,
                "wires": [
                    {
                        "id": "906d166fb3d336df",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "72d1f8cb801bfc81",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "352b925c7822b6fd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e9524412e8723139",
        "type": "ui_tab",
        "name": "Gia han Hop Dong",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "349ec6fd03dc7771",
        "type": "ui_group",
        "name": "User",
        "tab": "e9524412e8723139",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "53cd9ef3f377c9fa",
        "type": "ui_group",
        "name": "Contract needs to be extended",
        "tab": "e9524412e8723139",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf32dde15ba2edfc",
        "type": "ui_group",
        "name": "Error Logs",
        "tab": "e9524412e8723139",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "332ff06a0ecdf6e4",
        "type": "ui_tab",
        "name": "Chon San Pham",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "db512b061bbac235",
        "type": "ui_group",
        "name": "User",
        "tab": "332ff06a0ecdf6e4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "989bb51755be98fd",
        "type": "ui_group",
        "name": "Product",
        "tab": "332ff06a0ecdf6e4",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6170a90c40a1cd3e",
        "type": "ui_group",
        "name": "Cart",
        "tab": "332ff06a0ecdf6e4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c66415.50bbe4",
        "type": "ui_group",
        "name": "Filters",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "e51e28f742827766",
        "type": "function",
        "z": "47914be4d6856a80",
        "name": "Get (SQL)",
        "func": "//Get TENCHINHANH: MACHINHANH\nmsg.payload = \n[ \n    {\"Nguyen Van Cu\":\"1\"},\n    {\"Tran Hung Dao\":\"2\"},\n    {\"Truong Sa\":\"3\"}\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 80,
        "wires": [
            [
                "a2b60862629327c9"
            ]
        ]
    },
    {
        "id": "dee1555755b690e4",
        "type": "ui_ui_control",
        "z": "47914be4d6856a80",
        "name": "Change Tab",
        "events": "change",
        "x": 70,
        "y": 80,
        "wires": [
            [
                "e51e28f742827766"
            ]
        ]
    },
    {
        "id": "a2b60862629327c9",
        "type": "change",
        "z": "47914be4d6856a80",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5dd56b5395420220",
        "type": "function",
        "z": "b447a82434ab402b",
        "name": "push",
        "func": "var FlowLog = flow.get('$parent.Log') || {}\n\nFlowLog.push(msg);\nwhile (FlowLog.length > 10){\n    FlowLog.shift();\n    FlowLog.length = 10;\n}\nflow.set('$parent.Log', FlowLog);\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 100,
        "wires": []
    },
    {
        "id": "906d166fb3d336df",
        "type": "function",
        "z": "f53a30c032c6761f",
        "name": "push",
        "func": "msg = {}\nmsg.payload = flow.get('$parent.Log') || {}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "f54c302191eacbf6",
        "type": "inject",
        "z": "f53a30c032c6761f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "906d166fb3d336df"
            ]
        ]
    },
    {
        "id": "9eddba91e38b2999",
        "type": "ui_text_input",
        "z": "db97c8c50c4a095f",
        "name": "",
        "label": "MAHOPDONG",
        "tooltip": "",
        "group": "349ec6fd03dc7771",
        "order": 2,
        "width": "0",
        "height": "0",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Ma Hop Dong",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "a12ce619b6f6d4ce"
            ]
        ]
    },
    {
        "id": "dbb5324c45371451",
        "type": "ui_text_input",
        "z": "db97c8c50c4a095f",
        "name": "",
        "label": "PHANTRAMHOAHONG",
        "tooltip": "",
        "group": "349ec6fd03dc7771",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Phan tram hoa hong",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "1ac557e431c32ea7"
            ]
        ]
    },
    {
        "id": "4dfe67a3f74ab2a5",
        "type": "ui_text_input",
        "z": "db97c8c50c4a095f",
        "name": "",
        "label": "THOIGIANHIEULUC",
        "tooltip": "",
        "group": "349ec6fd03dc7771",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Thoi gian hieu luc",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "73975b0a9b285c80"
            ]
        ]
    },
    {
        "id": "da5664690cfd5f1e",
        "type": "ui_template",
        "z": "db97c8c50c4a095f",
        "group": "53cd9ef3f377c9fa",
        "name": "Contract",
        "order": 6,
        "width": "12",
        "height": "10",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ffa8d9836c75e2f0",
        "type": "ui_button",
        "z": "db97c8c50c4a095f",
        "name": "",
        "group": "349ec6fd03dc7771",
        "order": 6,
        "width": "4",
        "height": "1",
        "passthru": false,
        "label": "Commit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "89ae756cee8b325c"
            ]
        ]
    },
    {
        "id": "a12ce619b6f6d4ce",
        "type": "function",
        "z": "db97c8c50c4a095f",
        "name": "Save data (flow)",
        "func": "flow.set(\"MAHOPDONG\",msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "1ac557e431c32ea7",
        "type": "function",
        "z": "db97c8c50c4a095f",
        "name": "Save data (flow)",
        "func": "flow.set(\"PHANTRAMHOAHONG\",msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "73975b0a9b285c80",
        "type": "function",
        "z": "db97c8c50c4a095f",
        "name": "Save data (flow)",
        "func": "flow.set(\"THOIGIANHIEULUC\",msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 200,
        "wires": []
    },
    {
        "id": "89ae756cee8b325c",
        "type": "function",
        "z": "db97c8c50c4a095f",
        "name": "Update (SQL)",
        "func": "var MAHOPDONG = flow.get(\"MAHOPDONG\");\nvar PHANTRAMHOAHONG = flow.get(\"PHANTRAMHOAHONG\");\nvar THOIGIANHIEULUC = flow.get(\"THOIGIANHIEULUC\");\n\nvar msg1 = {topic:\"Update MAHOPDONG=\" + MAHOPDONG, payload:\"PHANTRAMHOAHONG, THOIGIANHIEULUC\"}\n//SQL: UPDATE HOPDONG + THEODOIHOPDONG\n\nmsg = {}\nmsg.payload = \"Query\"\nreturn [msg, msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 320,
        "wires": [
            [
                "679ea176b9d6dbe6"
            ],
            [
                "360f8ad111aec57d"
            ]
        ]
    },
    {
        "id": "e2b6913d9cc9c6ea",
        "type": "ui_template",
        "z": "db97c8c50c4a095f",
        "group": "cf32dde15ba2edfc",
        "name": "Error Log",
        "order": 0,
        "width": "6",
        "height": "10",
        "format": "<ul>\n    <li ng-repeat=\"x in msg.payload\">\n        <font color=\"red\">{{x.topic}}</font>\n        <ul>\n            <li>{{x.payload}}</li>\n        </ul>\n    </li>\n</ul>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b81b67853855238c",
        "type": "ui_button",
        "z": "db97c8c50c4a095f",
        "name": "",
        "group": "349ec6fd03dc7771",
        "order": 7,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Reload",
        "tooltip": "Reload danh sách hợp đồng chờ duyệt",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "679ea176b9d6dbe6"
            ]
        ]
    },
    {
        "id": "679ea176b9d6dbe6",
        "type": "function",
        "z": "db97c8c50c4a095f",
        "name": "Select (SQL)",
        "func": "//Get Contract Table\nvar msg1 = {topic:\"Select\", payload:\"Danh sach HOP DONG\"};\n//SQL: SELECT HOPDONG (Needs to be extended)\n\nmsg = {}\nmsg.payload = \"Danh sach Hop Dong\"\nreturn [msg, msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 340,
        "wires": [
            [
                "da5664690cfd5f1e"
            ],
            [
                "360f8ad111aec57d"
            ]
        ]
    },
    {
        "id": "270f1c8d6ac074f1",
        "type": "ui_text",
        "z": "db97c8c50c4a095f",
        "group": "349ec6fd03dc7771",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Blank 1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "baf9b530d3d9e534",
        "type": "ui_text",
        "z": "db97c8c50c4a095f",
        "group": "349ec6fd03dc7771",
        "order": 5,
        "width": "6",
        "height": "5",
        "name": "Blank 2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "c8a456046033ccbd",
        "type": "ui_ui_control",
        "z": "db97c8c50c4a095f",
        "name": "Change Tab",
        "events": "change",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "679ea176b9d6dbe6"
            ]
        ]
    },
    {
        "id": "360f8ad111aec57d",
        "type": "subflow:b447a82434ab402b",
        "z": "db97c8c50c4a095f",
        "name": "",
        "x": 840,
        "y": 400,
        "wires": []
    },
    {
        "id": "3a10d8a66646f205",
        "type": "subflow:f53a30c032c6761f",
        "z": "db97c8c50c4a095f",
        "name": "",
        "x": 1050,
        "y": 400,
        "wires": [
            [
                "e2b6913d9cc9c6ea"
            ]
        ]
    },
    {
        "id": "84e4b4edecab9e3f",
        "type": "ui_text_input",
        "z": "9d8fd425860c673a",
        "name": "",
        "label": "MASANPHAM",
        "tooltip": "",
        "group": "db512b061bbac235",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Phan tram hoa hong",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "89c3756bb7e1a351"
            ]
        ]
    },
    {
        "id": "7e724c2da65722fb",
        "type": "ui_template",
        "z": "9d8fd425860c673a",
        "group": "989bb51755be98fd",
        "name": "Product",
        "order": 6,
        "width": "12",
        "height": "10",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0a788de9456f9805",
        "type": "ui_button",
        "z": "9d8fd425860c673a",
        "name": "",
        "group": "db512b061bbac235",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Add",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "55a57d23fa980ae0"
            ]
        ]
    },
    {
        "id": "1c988a3d41072ca5",
        "type": "function",
        "z": "9d8fd425860c673a",
        "name": "Save data (flow)",
        "func": "flow.set(\"MACHINHANH\",msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 80,
        "wires": []
    },
    {
        "id": "89c3756bb7e1a351",
        "type": "function",
        "z": "9d8fd425860c673a",
        "name": "Save data (flow)",
        "func": "flow.set(\"MASANPHAM\",msg.payload);",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "55a57d23fa980ae0",
        "type": "function",
        "z": "9d8fd425860c673a",
        "name": "Insert (SQL)",
        "func": "var FlowLog = flow.get('Log') || {};\nvar MADONHANG = flow.get(\"MADONHANG\");\nvar MASANPHAM = flow.get(\"MASANPHAM\");\nvar msg1 = {}\n\nif (MADONHANG == null) {\n    msg1 = {topic:\"Insert CT_DONHANG\", payload:\"MADONHANG is not exists\"}\n    \n    msg = {}\n    msg.payload = null\n}\nelse {\n    msg1 = {topic:\"Insert MADONHANG=\"+MADONHANG, payload:\"MASANPHAM = \" + MASANPHAM}\n    //SQL: INSERT CT_DONHANG \n    \n    msg = {}\n    msg.payload = MADONHANG\n}\n\nreturn [msg, msg1]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "a3395ee3dfe3c12d"
            ],
            [
                "2dc986351bb88ce9"
            ]
        ]
    },
    {
        "id": "f42017f9dbee7159",
        "type": "function",
        "z": "9d8fd425860c673a",
        "name": "Select (SQL)",
        "func": "var MADONHANG = msg.payload;\n\nvar msg1 = {topic:\"Select  CT_DONHANG\", payload:\"MADONHANG = \" + MADONHANG};\n//SQL: SELECT CT_DONHANG\n\n\nmsg = {}\nmsg.payload = \"MADONHANG = \" + MADONHANG + \": Ds SANPHAM\"\nreturn [msg, msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 320,
        "wires": [
            [
                "788a058c309f4234"
            ],
            [
                "2dc986351bb88ce9"
            ]
        ]
    },
    {
        "id": "2e5693330160b3ca",
        "type": "ui_text",
        "z": "9d8fd425860c673a",
        "group": "db512b061bbac235",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Blank 1",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "07c6d1ae0eb592d9",
        "type": "ui_text",
        "z": "9d8fd425860c673a",
        "group": "db512b061bbac235",
        "order": 5,
        "width": "6",
        "height": "6",
        "name": "Blank 2",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "ea993068c4ddd752",
        "type": "ui_dropdown",
        "z": "9d8fd425860c673a",
        "name": "",
        "label": "Chi Nhánh",
        "tooltip": "",
        "place": "",
        "group": "db512b061bbac235",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "1c988a3d41072ca5",
                "638a4dd6ccbb6e58"
            ]
        ]
    },
    {
        "id": "38c0eaeda6df70d6",
        "type": "subflow:47914be4d6856a80",
        "z": "9d8fd425860c673a",
        "name": "",
        "env": [],
        "x": 110,
        "y": 20,
        "wires": [
            [
                "ea993068c4ddd752"
            ]
        ]
    },
    {
        "id": "5bc6791183c2968b",
        "type": "ui_button",
        "z": "9d8fd425860c673a",
        "name": "Order",
        "group": "6170a90c40a1cd3e",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ORDER",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "4076ef6d42e711be"
            ]
        ]
    },
    {
        "id": "788a058c309f4234",
        "type": "ui_template",
        "z": "9d8fd425860c673a",
        "group": "6170a90c40a1cd3e",
        "name": "Cart",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1250,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "638a4dd6ccbb6e58",
        "type": "function",
        "z": "9d8fd425860c673a",
        "name": "Select (SQL)",
        "func": "//Get PRODUCT TABLE\nvar MACHINHANH = msg.payload\nvar msg1 = {topic:\"Select MACHINHANH=\" + MACHINHANH, payload:\"Danh sach SAN PHAM\"};\n//SQL: SELECT SANPHAM_CHINHANH x SANPHAM \n\nmsg = {}\nmsg.payload = \"Danh sach SAN PHAM cua \" + MACHINHANH\nreturn [msg, msg1];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nvar array = []\nflow.set('Log', array)",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "7e724c2da65722fb"
            ],
            [
                "3951fee5358fe052"
            ]
        ]
    },
    {
        "id": "4076ef6d42e711be",
        "type": "function",
        "z": "9d8fd425860c673a",
        "name": "Update (SQL)",
        "func": "var FlowLog = flow.get('Log') || {};\nvar MADONHANG = flow.get(\"MADONHANG\");\nvar msg1 = {}\n\nif (MADONHANG == null) {\n    msg1 = {topic:\"Update DONHANG\", payload:\"MADONHANG is not exists\"}\n    \n    msg = {}\n    msg.payload = null\n}\nelse {\n    msg1 = {topic:\"Update MADONHANG=\"+MADONHANG, payload:\"TINHTRANGDONHANG = 'Đồng ý'\"}\n    //SQL: UPDATE DONHANG \n    \n    flow.set(\"MADONHANG\", null)\n    msg = {}\n    msg.payload = MADONHANG\n}\n\nreturn [msg, msg1]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 460,
        "wires": [
            [
                "5305800b36e354c1"
            ],
            [
                "2dc986351bb88ce9"
            ]
        ]
    },
    {
        "id": "46548ecea1096e89",
        "type": "function",
        "z": "9d8fd425860c673a",
        "name": "Insert (SQL)",
        "func": "//Create new Cast\nvar MADONHANG = \"10101\" //SQL: INSERT DONHANG\nflow.set(\"MADONHANG\", MADONHANG)\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "55a57d23fa980ae0"
            ]
        ]
    },
    {
        "id": "48b49ff9be0db93e",
        "type": "ui_button",
        "z": "9d8fd425860c673a",
        "name": "",
        "group": "db512b061bbac235",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Remove",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "5489bef3de3dc3b0"
            ]
        ]
    },
    {
        "id": "5489bef3de3dc3b0",
        "type": "function",
        "z": "9d8fd425860c673a",
        "name": "Delete (SQL)",
        "func": "var FlowLog = flow.get('Log') || {};\nvar MADONHANG = flow.get(\"MADONHANG\");\nvar MASANPHAM = flow.get(\"MASANPHAM\");\nvar msg1 = {}\n\nif (MADONHANG == null) {\n    msg1 = {topic:\"Delete CT_DONHANG\", payload:\"MADONHANG is not exists\"}\n    \n    msg = {}\n    msg.payload = null\n}\nelse {\n    msg1 = {topic:\"Delete MADONHANG=\"+MADONHANG, payload:\"MASANPHAM = \" + MASANPHAM}\n    //SQL: DELETE CT_DONHANG \n    \n    msg = {}\n    msg.payload = MADONHANG\n}\n\nreturn [msg, msg1]\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 380,
        "wires": [
            [
                "5305800b36e354c1"
            ],
            [
                "2dc986351bb88ce9"
            ]
        ]
    },
    {
        "id": "a3395ee3dfe3c12d",
        "type": "switch",
        "z": "9d8fd425860c673a",
        "name": "IS NULL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "46548ecea1096e89"
            ],
            [
                "f42017f9dbee7159"
            ]
        ]
    },
    {
        "id": "5305800b36e354c1",
        "type": "switch",
        "z": "9d8fd425860c673a",
        "name": "IS NULL",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 820,
        "y": 460,
        "wires": [
            [],
            [
                "f42017f9dbee7159"
            ]
        ]
    },
    {
        "id": "cd296aae1d626941",
        "type": "ui_template",
        "z": "9d8fd425860c673a",
        "group": "6170a90c40a1cd3e",
        "name": "Error Log",
        "order": 3,
        "width": "6",
        "height": "5",
        "format": "<ul>\n    <li ng-repeat=\"x in msg.payload\">\n        <font color=\"red\">{{x.topic}}</font>\n        <ul>\n            <li>{{x.payload}}</li>\n        </ul>\n    </li>\n</ul>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1260,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "715470633d7c3d4b",
        "type": "subflow:f53a30c032c6761f",
        "z": "9d8fd425860c673a",
        "name": "",
        "x": 1050,
        "y": 380,
        "wires": [
            [
                "cd296aae1d626941"
            ]
        ]
    },
    {
        "id": "3951fee5358fe052",
        "type": "subflow:b447a82434ab402b",
        "z": "9d8fd425860c673a",
        "name": "",
        "env": [],
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "2dc986351bb88ce9",
        "type": "subflow:b447a82434ab402b",
        "z": "9d8fd425860c673a",
        "name": "",
        "x": 840,
        "y": 380,
        "wires": []
    }
]