Tranh chấp/Giao diện/Dong Y Don Hang.json
[
    {
        "id": "056b3f7f63de44e7",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "168b3ce88881bb4c",
        "type": "ui_text_input",
        "z": "056b3f7f63de44e7",
        "name": "Input_MaDHang_DongY",
        "label": "Mã đơn hàng",
        "tooltip": "",
        "group": "b23a3359a516c998",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Input_MaDHang_DongY",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "9b8b8a499a707e51"
            ]
        ]
    },
    {
        "id": "9b8b8a499a707e51",
        "type": "function",
        "z": "056b3f7f63de44e7",
        "name": "Store MaTXe_ChonDon",
        "func": "var MaDHang_DongY = flow.get(\"MaDHang_DongY\") || undefined;\n\nMaDHang_DongY = msg.payload;\nflow.set(\"MaDHang_DongY\", MaDHang_DongY);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "4bd385f42a4f0adf",
        "type": "ui_template",
        "z": "056b3f7f63de44e7",
        "group": "8c59f03eb11a82ce",
        "name": "Log",
        "order": 1,
        "width": "6",
        "height": "5",
        "format": "<ul>\n   <li ng-repeat = \"x in msg.payload\">\n        {{x}}\n    </li>\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 570,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "aa6e50219f98011b",
        "type": "ui_button",
        "z": "056b3f7f63de44e7",
        "name": "DongY",
        "group": "b23a3359a516c998",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Đồng ý",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "DongY",
        "topicType": "str",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "d64dfdde7c90bb9e"
            ]
        ]
    },
    {
        "id": "d64dfdde7c90bb9e",
        "type": "function",
        "z": "056b3f7f63de44e7",
        "name": "Process",
        "func": "let MaDHang = flow.get(\"MaDHang_DongY\") || undefined;\nlet new_payload = [];\n\nif (MaDHang == undefined)\n{\n    new_payload.push('Thông tin nhập không hợp lệ hoặc để trống');\n}\nelse\n{                   \n    new_payload.push('Đơn hàng ' + \"'\"+ MaDHang + \"'\" + ' đã được đồng ý');\n}\nvar newMsg = { payload: new_payload,topic:'Commit' };\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 300,
        "wires": [
            [
                "4bd385f42a4f0adf"
            ]
        ]
    },
    {
        "id": "b23a3359a516c998",
        "type": "ui_group",
        "name": "Đồng ý đơn hàng",
        "tab": "2d6bc61419501b7e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8c59f03eb11a82ce",
        "type": "ui_group",
        "name": "Log",
        "tab": "2d6bc61419501b7e",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d6bc61419501b7e",
        "type": "ui_tab",
        "name": "Dong Y Don Hang",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]