Tranh chấp/Giao diện/TaiXe.json
[
    {
        "id": "7a666bc31ca1a99b",
        "type": "ui_template",
        "z": "df47e7b36c383f72",
        "group": "de72f507adc2976d",
        "name": "Log",
        "order": 1,
        "width": "6",
        "height": "5",
        "format": "<ul>\n   <li ng-repeat = \"x in msg.payload\">\n        {{x}}\n    </li>\n    <!--{{msg.payload[0]}}-->\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4daa074d1bb635cd",
        "type": "ui_button",
        "z": "df47e7b36c383f72",
        "name": "Chọn đơn hàng",
        "group": "cf8b5794e55e9a53",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Chọn đơn hàng",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Chọn đơn hàng",
        "topicType": "str",
        "x": 280,
        "y": 260,
        "wires": [
            [
                "e9514bf43cdf5a0f"
            ]
        ]
    },
    {
        "id": "e9514bf43cdf5a0f",
        "type": "function",
        "z": "df47e7b36c383f72",
        "name": "Process",
        "func": "let MaTXe = flow.get(\"MaTXe_ChonDon\") || undefined;\nlet MaDHang = flow.get(\"MaDHang_ChonDon\") || undefined;\nlet new_payload = [];\n\nif (MaTXe == undefined || MaDHang == undefined)\n{\n    new_payload.push('Thông tin nhập không hợp lệ hoặc để trống');\n}\nelse\n{                   \n    new_payload.push('Tài xế ' + \"'\" + MaTXe + \"'\" + ' đăng kí thành công đơn hàng ' + \"'\" +  MaDHang + \"'\");\n    new_payload.push('Đơn hàng ' + \"'\"+ MaDHang + \"'\" + ': Đang giao');\n}\nvar newMsg = { payload: new_payload,topic:'Commit' };\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "7a666bc31ca1a99b"
            ]
        ]
    },
    {
        "id": "a4d8282b4f124ad4",
        "type": "ui_text_input",
        "z": "df47e7b36c383f72",
        "name": "Input_MaTXe_ChonDon",
        "label": "Mã tài xế",
        "tooltip": "",
        "group": "cf8b5794e55e9a53",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Input_MaTXe_ChonDon",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "98dd9d4ff7520c3d"
            ]
        ]
    },
    {
        "id": "c594e1bfb687aeb6",
        "type": "ui_text_input",
        "z": "df47e7b36c383f72",
        "name": "Input_MaDHang_ChonDon",
        "label": "Mã đơn hàng",
        "tooltip": "",
        "group": "cf8b5794e55e9a53",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Input_MaDHang_ChonDon",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 260,
        "y": 180,
        "wires": [
            [
                "11a0578b58a557fd"
            ]
        ]
    },
    {
        "id": "98dd9d4ff7520c3d",
        "type": "function",
        "z": "df47e7b36c383f72",
        "name": "Store MaTXe_ChonDon",
        "func": "var MaTXe_ChonDon = flow.get(\"MaTXe_ChonDon\") || undefined;\n\nif(msg.topic === \"Input_MaTXe_ChonDon\"){\n    MaTXe_ChonDon = msg.payload;\n    flow.set(\"MaTXe_ChonDon\", MaTXe_ChonDon);\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "11a0578b58a557fd",
        "type": "function",
        "z": "df47e7b36c383f72",
        "name": "Store MaDHang",
        "func": "var MaDHang_ChonDon = flow.get(\"MaDHang_ChonDon\") || undefined;\n\nMaDHang_ChonDon = msg.payload;\nflow.set(\"MaDHang_ChonDon\", MaDHang_ChonDon);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "96b4e662e1176180",
        "type": "function",
        "z": "df47e7b36c383f72",
        "name": "Process",
        "func": "let MaTXe_XemDon = flow.get(\"MaTXe_XemDon\") || undefined;\nlet new_payload = [];\n\nif (MaTXe_XemDon == undefined)\n{\n    new_payload.push('Thông tin nhập không hợp lệ hoặc để trống');\n}\nelse{\n    new_payload.push('Kiểm tra mã tài xế...OK');\n    new_payload.push('Kiểm tra khu vực hoạt đồng của tài xế...OK');\n    new_payload.push('Danh sách các đơn hàng trong khu vực...');\n}\nvar newMsg = { payload: new_payload,topic:'Commit' };\n\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 440,
        "wires": [
            [
                "7a666bc31ca1a99b",
                "bcb365dd092671d6"
            ]
        ]
    },
    {
        "id": "da9252a888d6d08b",
        "type": "ui_text_input",
        "z": "df47e7b36c383f72",
        "name": "Input_MaTXe_XemDon",
        "label": "Mã tài xế",
        "tooltip": "",
        "group": "bfaec828a1fc6393",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Input_MaTXe_XemDon",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 190,
        "y": 520,
        "wires": [
            [
                "4f692b5e327d9b0a"
            ]
        ]
    },
    {
        "id": "4f692b5e327d9b0a",
        "type": "function",
        "z": "df47e7b36c383f72",
        "name": "Store MaTXe_XemDon",
        "func": "var MaTXe_XemDon = flow.get(\"MaTXe_XemDon\") || undefined;\n\nMaTXe_XemDon = msg.payload;\nflow.set(\"MaTXe_XemDon\", MaTXe_XemDon);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "8458e9e8b502d912",
        "type": "ui_button",
        "z": "df47e7b36c383f72",
        "name": "Xem đơn hàng trong khu vực",
        "group": "bfaec828a1fc6393",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Xem đơn hàng trong khu vực",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "Xem đơn hàng trong khu vực",
        "topicType": "str",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "96b4e662e1176180"
            ]
        ]
    },
    {
        "id": "bcb365dd092671d6",
        "type": "ui_template",
        "z": "df47e7b36c383f72",
        "group": "48f7819f9151234d",
        "name": "List DonHang",
        "order": 1,
        "width": "10",
        "height": "5",
        "format": "<ul>\n    {{msg.payload[2]}}\n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "de72f507adc2976d",
        "type": "ui_group",
        "name": "Log",
        "tab": "da2ee8951428f5c3",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cf8b5794e55e9a53",
        "type": "ui_group",
        "name": "Chọn đơn hàng",
        "tab": "da2ee8951428f5c3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bfaec828a1fc6393",
        "type": "ui_group",
        "name": "Xem đơn hàng trong khu vực",
        "tab": "da2ee8951428f5c3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "48f7819f9151234d",
        "type": "ui_group",
        "name": "Danh sách các đơn hàng",
        "tab": "da2ee8951428f5c3",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "da2ee8951428f5c3",
        "type": "ui_tab",
        "name": "Taixe",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]